---
import Normal from "../../layouts/normal.astro";
import UpdateArchive from "../../components/updates/archive";
import UpdateLatest from "../../components/updates/latest";
---

<Normal title="NoobScience Updates">
  <div class="flex flex-col lg:flex-row">
    <div class="w-full md:w-4/6 bg-yellow-300">
        <h1 class="text-center text-3xl md:text-4xl font-bold p-2 md:p-4">
            Welcome to Updates!
        </h1>
        <p class="text-lg py-4 px-4 md:px-8">
            Updates is my little corner on the internet where I share the most
            random things that come to my mind.
            So, with that being said, some of these posts may be a little
            personal, so, if you don't like that, you can just skip this page.
        </p>
        <h1 class="text-center p-4 text-2xl font-bold">
            Latest Update
        </h1>
        <div>
            <UpdateLatest client:idle />
        </div>
    </div>
    <div class="w-full md:w-2/6 bg-pink-400">
        <h1 class="text-4xl text-center p-4 font-bold">
            Recent Updates
        </h1>
        <UpdateArchive num={15} client:idle />
        <h1 class="text-center text-2xl bg-green-300 border-t-2 border-black mt-2">
            <a class="p-2 m-5" href="/updates/archives">
                ../Archives
            </a>
        </h1>
    </div>
  </div>
</Normal>