---
export const prerender = true
import Normal from "../layouts/normal.astro";
---

<Normal title="About NoobScience">
    <div>
        <div class="bg-yellow-300 w-full">
            <h1 class="text-4xl text-center p-4 font-bold">
                About The Noob
            </h1>
            <p class="px-5 py-4 text-xl leading-10 font-base">
                Lovely day to you! I'm Ishan, a 18 year old student from India.
                A self taught programmer and a full stack web developer, I'm 
                currently looking into the world of machine learning and AI.
                Other then that, you might find me lurking on the internet, 
                reading interesting books, keeping up with the latest tech news 
                or playing with my lovely German Shepherd Dog (It's called Lyka in case 
                you were wondering). However, before I go on and on about myself, 
                if you mostly interested in my professional skills, please head over to my
                Skills page.
            </p>
            <p class="px-5 py-4 text-xl leading-10 font-base">
                I'm currently a student at GRIET, pursuing a B.Tech in 
                Computer Science and Engineering. It's in 
                Hyderabad, India and Hyderabad's a pretty cool place to 
                live in. Anyways, I'm a pretty chill guy and I love to 
                talk about tech, so if you want to talk about anything, 
                feel free to connect with me. I started programming when I was 
                16 and I've been doing it ever since. Python was the first language 
                I learnt, but I've been working with JavaScript and React for the 
                past year. I'm also a big fan of open source and I love to contribute 
                to open source projects. All of my projects are open source and 
                you can find them on my Projects page.
            </p>
        </div>
    </div>
</Normal>
