---
import Normal from "../layouts/normal.astro";
import ContactForm from "../components/contact/contact";
---

<Normal title="Contact Form">
  <div class="dark:bg-white dark:text-black">
    <ContactForm client:load />
  </div>
</Normal>