---
import Normal from "../layouts/normal.astro";
---

<Normal title="Projects | NoobScience">
    <h1 class="text-5xl font-bold p-4 text-center">Projects</h1>
    <p class="text-2xl text-center p-2">Coming Soon...</p>
    <p class="text-2xl text-center p-2">Redirecting to GitHub</p>
</Normal>
<script>
    setTimeout(() => {
        window.location.href = "https://github.com/newtoallofthis123?tab=repositories";
    }, 3000);
</script>