---
import Normal from "../../layouts/normal.astro";
import UpdateArchive from "../../components/updates/archive";
---

<Normal title="Updates Archive">
    <h1 class="text-center p-4 text-4xl font-bold">
        Quips Archive
    </h1>
    <div>
        <UpdateArchive num={100} client:load />
        <h1 class="text-center text-2xl bg-green-300 border-t-2 border-black mt-2">
            <a class="p-2 m-5" href="/updates/archives">
                ../Archives
            </a>
        </h1>
    </div>
</Normal>