---
import ExplainBase from "../../layouts/explain_base.astro";
import ExplainIndexNav from "../../components/explain_normal_nav";
---

<ExplainBase title="Archives | Noob Explains">
  <ExplainIndexNav />
  <div class="p-2 md:px-5">
    <h1 class="text-4xl py-4 font-bold md:pt-5">Archives</h1>
    <p>
        This is the archives page. Here you can find all the posts that have been
        published on this site.
        I am working on organizing them by category, but for now, they are all
        listed here.
    </p>
  </div>
</ExplainBase>