---
export const prerender = true
import Normal from "../../layouts/normal.astro";
---

<Normal title="Random Bin | NoobScience">
    <div class="flex flex-col md:flex-row">
        <div class="w-full flex flex-col justify-center items-center md:w-4/5 text-lg p-4 leading-8">
            <h1 class="text-4xl text-center font-bold p-4"> 
                Random Bin
            </h1>
            <p>
                This is just a random bin for me to store random stuff. 
                So, this directory holds the most random stuff from the terms of service to 
                a testing gfm markdown file.
                So, if you are looking for something specific, you are probably in the wrong place.
                Now you might think that I would be kind enough to set up a directory listing for you, 
                but no, I am not that kind.
                So, I'm so sorry for you, but you will have to go through each file to find what you are looking for.
                Actually, this is sort of for the best, because directory listing is not a good idea. 
            </p>
        </div>
        <div class="w-full md:w-1/5 flex justify-center items-center">
            <img src="/assets/site/beach.svg" width={256} alt="">
        </div>
    </div>
    <div class="text-center p-10">
        <button style="width: 80%;" class="m-10 btn bg-yellow-300">
            <a href="/">
                Go back
            </a>
        </button>
    </div>
</Normal>