---
import Base from './base.astro';
const { frontmatter }= Astro.props;
let posts = await Astro.glob('../pages/blog/*/*.mdx');
posts.sort((a:any, b:any) => new Date(b.frontmatter.date).getTime() - new Date(a.frontmatter.date).getTime());
let recommended = posts.filter((post:any) => post.frontmatter.category === frontmatter.category && post.frontmatter.title !== frontmatter.title);
---

<Base title={frontmatter.title + " | Ishan Quicks"} img={frontmatter.image || '/assets/banner.png'} description={frontmatter.description}>
    <style define:vars={{color: frontmatter.color || "#000", bg: frontmatter.bg || "#fff"}}>
        main{
            color: var(--color);
            background-color: var(--bg);
        }
    </style>
    <div id="main">
        <nav class="text-center p-5 border-b-2 border-black">
            <h1 class="text-4xl font-bold">
                Ishan's Quicks
            </h1>
        </nav>
        <main>
            <slot />
        </main>
    </div>
</Base>
<style is:inline>
    ::selection{
        background-color: #6bfaec;
        color: #000000;
    }
    ::-webkit-scrollbar {
    width: 10px;
    }
    ::-webkit-scrollbar-thumb {
    background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
    background: #555;
    }
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    ::-webkit-scrollbar-track:hover {
    background: #ddd;
    }
    main {
        font-family: 'Libre Baskerville', 'Times New Roman', Times, serif;
    }
    h1 {
        font-family: 'Yeseva One', 'Times New Roman', Times, serif;
    }
    h2{
        font-size: 1.6rem;
        font-weight: 700;
        padding: 0.75rem 0;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 0;
    }
    h4{
        font-weight: 400;
        padding: 0;
    }
    p {
        font-size: 1rem;
        padding: 0.5rem 0;
        line-height: 2.2rem;
    }
    a {
        text-decoration: underline;
    }
    ol{
        font-size: 1rem;
        line-height: 2.2rem;
        list-style-type: decimal;
        padding-left: 1.2rem;
    }
    blockquote{
        line-height: 2.5rem;
        padding: 1rem 0;
        margin: 1rem 0;
        border-left: 2px solid #000;
        padding-left: 1rem;
    }
    blockquote>p{
        font-size: 1.2rem;
        font-style: italic;
    }
    pre{
        padding: 1rem;
        border-radius: 12px;
        font-size: 1.1rem;
    }
    .heading{
        text-decoration: none;
    }
    svg{
        max-width: 100%;
        overflow-x: scroll;
    }
    @media (max-width: 768px){
        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 1.8rem;
            padding: 0.5rem 0;
        }
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
            line-height: 2rem;
        }
        ol{
            font-size: 1rem;
        }
        blockquote>p{
            font-size: 1.2rem;
        }
    }
</style>